// General Styles

html {
	font-size:62.5%;
}

body {
	background: url(../../images/background.png);
	background-attachment: center;
	color: white;
}

img {
	max-width:100%;
	width:100%;
}

p, h1, h2{
	text-align: center;
	margin:0;
	padding:0;
}

h1, h2, h3 {
	font-family: 'gooddog', sans-serif;
}

h1 {
	margin-top:2.5rem;
	font-size:10rem;
	transition:0.3s ease all;
	margin-bottom:20px;
	color: white;
	letter-spacing: 0.4rem;
}

p {
	font-family: 'gooddog2', sans-serif;
	font-size:2.3rem;
	margin-top: 5px;
	line-height: 2rem;
	letter-spacing: 0.2rem;
}

button {
	font-size:3rem;
	background-color:$lightPurple;
	padding:7px;
	transition:0.3s all ease;
	border:4px solid white;
	color:white;
	border-radius:10px;
	display: block;
	font-family: 'gooddog', sans-serif;
	&:hover, &:focus {
		transform:scale(1.1);
	}
}

#twitter-button, .modalBackground h2  {
	background-position: center;
	font-family: sans-serif;
	text-decoration: none;
	padding:10px;
	border-radius:10px;
	margin:0 auto;
	margin-top:10px;
	color: white;
	border:2px solid white;
	background-color:$lightPurple;
	text-align: center;
}

// preloader
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   bottom:0;
   right:0;
   z-index: 9999;
   background-image: url('../../images/spin.gif');
   background-repeat: no-repeat; 
   background-color: #FFF;
   background-position: center;
   display: flex;
   justify-content:center;
   align-items:center;
   h2{
   	font-size:5rem;
   	text-transform:uppercase;
   	position: relative;
   	top:-100px;
   	color:black;
   }
}

.share {
	width:50%;
	flex-direction:column;
	justify-content:space-between;
	font-family: 'gooddog2', sans-serif;
	button {
		margin-top:10px;
	}
	color:black;
}

// buttons to be hidden right away on load
.next, .restart, .share {
	display: none;
}

.restart {
	margin: 0 auto;
}

.container {
	width:80%;
	max-width:500px;
	margin: 0 auto;
}

.timer {
	text-align:center;
}

header span {
	position: relative;
	transition:0.5s ease color;
	&:hover {
		color: transparent;
		text-shadow:none;
	}
	&:hover::before {
		color: white;
		text-shadow: 2px 2px 10px white;
		content:'\f1b0';
		font-family: 'FontAwesome';
		font-size: 3rem;
		position: absolute;
		top:58%;
		left:50%;
		transform:translate(-50%,-50%);
		opacity:0;
		animation: 0.5s cssFadeIn ease forwards;
		transition:0.5s ease all;
	}
}

main .container {
	background-color:$lightPurple;
	padding:1px 5px;
	border: 10px solid white;
	border-radius:20px;
}

.topInfo, .pointsContainer {
	padding:3px 10px;
	display:flex;
}

.topInfo {
	border-bottom:none;
	justify-content:space-between;
}

.pointsContainer {
	border-top:none;
	justify-content:center;
}

.instructionsButton {
	position: fixed;
	top:22px;
	right:22px;
	z-index: 20;
	.fa {
		color: $lightPurple;
		font-size:2rem;
		padding:6px 11px 6px 9px;
		border-radius:50%;
		background-color: white;
		cursor:pointer;
		transition: 0.3s all ease;
	}
}

.instructions {
	padding:2rem;
	position: fixed;
	background-color: white;
	border:2px solid $lightPurple;
	right:20px;
	left:75%;
	display: none;
	transition:0.3s ease all;
	cursor: pointer;
	z-index: -10;
	opacity: 0;
	h2 {
		font-size:3rem;
		text-decoration: underline;
		margin-bottom: 10px;
		color: black;
		letter-spacing:0.2rem;
	}
	p {
		font-size:1.4rem;
		color: black;
		font-family: sans-serif;
	}
}

ul {
	display: flex;
	flex-wrap:wrap;
	position: relative;
	.imageItem, .animal{
		flex-basis:25%;
		border:0.5px solid $lightPurple;
		position: relative;
		// so the border doesn't get affected by the img blurr
		overflow: hidden;
		&:hover img{
			transform:scale(1.2);
		}
		&:hover {
			cursor:pointer;
		}
	}
	.imageItem img, .animal img, {
		display: block;
		height:100%;
		transition: 0.5s all ease;
		filter: blur(15px);
		animation:15s blur ease-out forwards;
		// Not draggable
		pointer-events: none; 
		user-select: none;
	}
	.starterLi img {
		animation:3s blur ease-out forwards;
	}
	.feedback {
		position: absolute;
		top:0;
		left:-1px;
		right:-1px;
		bottom:0;
		opacity: 0;
		display: flex;
		justify-content:center;
		align-items:center;
		background-color: $lightPurple;
	}
	h2 {
		font-family:sans-serif;
	}
}

.mainImageContainer {
	position: relative;
	.modalBackground {
		margin:0 auto;
		position: absolute;
		z-index:10;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color: transparent;
		display: flex;
		justify-content:center;
		align-items:center;
		background-color: rgba(0,0,0,0.5);
	}
}

footer {
	margin-top:10px;
	p {
		font-size:1rem;
		color: black;
		font-family: sans-serif;
		line-height: 1.3rem;
		padding:0;
	}
}

// js styles

.jsFastAnimation {
	animation:3s blur ease-out forwards !important;
}

.jsFadeInAnimation {
	animation: 1s cssFadeIn ease forwards;
}

.jsShow {
	display: block;
	animation: 0.3s cssFadeIn ease forwards;
}

.jsFlexShow {
	display: flex;
}

// Animations
@keyframes blur {
	100% {
		filter: blur(0);
		filter: none;
	}
}

@keyframes cssFadeIn {
	100% {
		opacity:1;
	}
}
