// Color Palette

$lightPurple:lighten(#B19CD9,5%);

// fonts 
$headerFont: 'BioRhyme', serif;

@font-face {
  font-family: 'gooddog';
  src: url("../../good_dog/GOODDC__.TTF");
}

@font-face {
  font-family: 'gooddog2';
  src: url("../../good_dog/GOODDP__.TTF");
}
